*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid lime;
}

/* Multi selector */

.flex{
    display: flex;
}

ul li{
    list-style-type: none;
}

/* Container */

.container-big{
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.container-small{

}

/* Header */

header{
    background-color: #0084FD;
    color: white;
    padding: 1rem;
}
header .container-big {
    justify-content: space-between;
    align-items: center;
}

div.siderbar{
    display: none;
}

/* MAIN */


/* Section Demo-Application */

.container-card{
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
}


article.card{
    height: 300px;
    width: 100%;
    background-color: #B4DDFF;
}

/* Section Strategic Planning */

section.bg-violet{
    background-color: #9792E4;
    color: white;
    width: 100%;
}

div.bg-white{
    background-color: #ffffff;
    color: black;
    width: 100%;
}



img{
    width: 100%;
}












/* Responsive > 576px */
@media screen and (min-width:576px){

    .container-big{
        width: 576px;
        margin: 0 auto;
    }

    .container-2x1{
        display: flex;
        width: 100%;
    }
    article.card{
        background-color: #B4DDFF;
    }

    article.card-70{
        height: 300px;
        width: 67%;
    }

    article.card-30 {
        height: 300px;
        width: 33%;
    }


    .container-3x1{
        display: flex;
        width: calc(100 / 3);
    }

}


/* Responsive > 1200px */
@media screen and (min-width:768px){
    
    .container-big{
        width: 768px;
        margin: 0 auto;
    }

    div.siderbar{
        display: block;
    }

    div.little-menu{
        display: none;
    }

}
    
