*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Multi selector */

.flex{
    display: flex;
}

ul li{
    list-style-type: none;
}

.bg-violet{
    background-color: #9792E4;
    color: white;
    width: 100%;
}

.bg-black{
    background-color: #333333;
}


/* Container */

.container-big{
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.container-small{
    width: 100%;
    height: 400px;

}

/* Header */

header{
    background-color: #0084FD;
    color: white;
}
header .container-big {
    justify-content: space-between;
    align-items: center;
}

div.siderbar{
    display: none;
}

/* MAIN */


/* Section Demo-Application */

section.demo-application{
    margin-bottom: 3.5rem;
}

.container-card{
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
}


article.card{
    height: 300px;
    width: 100%;
    margin-bottom: 2rem;
    margin-right: 1rem;
    background-color: #B4DDFF;
}

article.card-white{
    background-color: white;
    color: black;
    border-radius: 2rem;
    text-align: center;
}

.button-violet{
    background-color:#9792E4;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}



/* Section Strategic Planning */


div.bg-white{
    background-color: #ffffff;
    color: black;
    width: 100%;
}


img{
    width: 100%;
}

/* Responsive > 576px */
@media screen and (min-width:576px){

    /* MAIN */
    /* Section Demo Application */
    .container-big{
        width: 576px;
        margin: 0 auto;
    }

    .container-2x1{
        display: flex;
        width: calc(100% + 1rem);
    }

    .container-3x1{
        display: flex;
        width: calc(100% + 1rem);

    }

    article.card{
        margin-bottom: 1rem;
        margin-right: 1rem;
        background-color: #B4DDFF;
    }
    
    article.card-70{
        height: 300px;
        width: 67%;
    }

    article.card-30 {
        height: 300px;
        width: 33%;
    }

    .container-3x1{
        display: flex;
        width: calc(100 / 3);
    }


    /* Section Strategic Planning */


}


/* Responsive > 1200px */
@media screen and (min-width:768px){
    
    .container-big{
        width: 768px;
        margin: 0 auto;
    }

    div.siderbar{
        display: block;
    }

    div.little-menu{
        display: none;
    }

}
    
