*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;

}

/* Multi selector */

.flex{
    display: flex;
}

.p-relative{
    position: relative;
}



ul li{
    /* list-style-type: none; */
}

ul li{
    list-style-type: none;

}

.bg-violet{
    background-color: #9792E4;
    color: white;
}

.bg-black{
    background-color: #333333;
    color: white;
}

.color-blue{
    color: #0084FD;
}

.color-white{
    color:#F5F4FC;
}

.color-violet{
    color: #9792E4;
}

.color-gray{
    color: #5A6E7F;
}


/* Container */

.container-big {
    /* justify-content: center;
    align-items: center; */
    padding: 0 2.5rem 3rem 2.5rem;
    margin-bottom: 2rem;
}

.container-small{
    padding: 0 2.5rem;
    text-align: center;
}

/* Header */

header{
    background-color: #0084FD;
    color: white;
    height: 95px;
    margin-bottom: 4rem;
    padding: 3rem 0;
}
header .container-big {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


div.little-menu i{
    font-size: 2rem;
}

div.siderbar{
    display: none;
}

button{
    padding: 0 .7rem;

}

/* MAIN */


/* Section Demo-Application */

section.demo-application{
}

.container-card{
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;    
    color: #5A6E7F;

}

article.card{
    width: 100%;
    margin-bottom: 2rem;
    margin-right: 1rem;
    background-color: #B4DDFF;
}

section.demo-application h1{
    color: #0084FD;
    font-size: 1.9rem;
    margin-bottom: 2rem;
}

p{
    line-height: 2.3rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.button{
    border: none;
    border-radius: 3rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem 2rem; 
}

.button-blue{
    background-color:#0084FD;
    font-weight: bold;
    width: 85%;
    letter-spacing: 4px;
}

.button-violet{
    background-color:#9792E4;
    width: 50%;
    letter-spacing: 4px;
    font-weight: 800;

}

.button-circular{
    height: 60px;
    width: 60px;
    margin-bottom: 3rem;
    border-radius: 3rem;
    border: none;
}

.button-white{
    color:#9792E4;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 4px;
    padding: 1.7rem 6rem;
}

.button-blue i{
    font-size: 1.3rem;
    margin-right: 1rem;
}

section.demo-application img{
    position: relative;
    top: 2.8rem;
}

.container-card{
    display: flex;
    align-items: center;
}

.card-30 i, 
.container-3x1 i{
    font-size: 6rem;
    color: #0084FD;
    margin-bottom: 1.7rem;
}

.card-30 p,
.container-3x1 p{
    text-align: center;
    font-weight: bold;
}

.container-2x1 p{
    font-weight: bold;
}

/* Section Strategic Planning */


div.bg-white{
    background-color: #ffffff;
    color: black;
    width: 100%;
}


img{
    width: 100%;
}


/* SECTION STRATEGIC PLANNING */

div.card-violet img{
    margin-top: 5rem;
}

section.strategic-planning h2{
    font-size: 2.7rem;
    margin: 7rem 0 4rem 0;
}

section.strategic-planning h3{
    font-size: 1.8rem;
    margin: 1.3rem 0 1.5rem 0;
}

section.strategic-planning p{
    font-size: 1.07rem;
    line-height: 2.1rem;
    margin-bottom: 2.5rem;
    padding:0 1.3rem;
    font-weight: 700;
}

article.card-white p {
    font-style: italic;
    font-weight: 600;
    font-size: 1.4rem;

}

.button-circular i{
    font-size: 1.35rem;
}

section.strategic-planning article.card-white{
    text-align: center;
}

article.card-white{
    background-color: white;
    color: black;
    border-radius: 3.5rem;
    padding-top: 2rem;
}



article.card-violet{
    background-color: #9792E4;
    border-radius: 3.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 2.5rem;
}

/* SECTION TESTIMONIALS */

section.testimonials{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

section.testimonials h2{
    font-size: 1.4rem;
    font-weight: normal;
    margin: 2rem;
}



section.testimonials h3{
    font-size: 2.9rem;
    margin-bottom: 3rem;
    
}

section.testimonials p{
    font-size: 1.5rem;
    line-height: 2.45rem;
    margin-bottom: 3.5rem;
}


div.testimonial{
    border-radius: 50%;
    overflow: hidden;
    width: 250px;
    height: 250px;
}

article.card-violet p{
    font-size: 1.5rem;
    line-height: 2.45rem;
    margin-top: 1.7rem;
    margin-bottom: 2.5rem;
}

article.card-violet span{
    font-size: 1.6rem;
    font-weight: bold;
}


div.testimonial img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/* SECTIONS BENEFICTS */
section.beneficts article.card-white{
    background-color: white;
    padding: 2.3rem;
    color: black;
    border-radius: 1.5rem;
    margin-bottom: 2.5rem;
}


section.beneficts h2{
    font-size: 2.8rem;
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 5rem;
}
section.beneficts h3{
    font-size: 3.8rem;
    margin-bottom: 1.7rem;
    color:#9792E4;
    
}
section.beneficts h4{
    font-size: 2rem;
    margin-bottom: 2rem;
    color:#9792E4;
}

section.beneficts p{
    color: #5A6E7F;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 2rem;

}



/* Section ABOUT US */

section.about-us h2{
    font-size: 3.8rem;
    margin: 5rem 0 3.5rem 0;
}

section.about-us p{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 3.2rem;
}

section.about-us div.testimonial i{
    display: block;
    font-size: 6rem;
    position: absolute;
    top:0;
    left: 180px;
}

section.about-us p.color-violet{
    font-size: 2.3rem;
    font-weight: 900;
    margin-top: 1.3rem;
}

.button-small{
    color: white;
    padding: .7rem 1rem;
    border: none;
    font-size: 1.11rem;
    border-radius: 3rem;
}

.button-small i{
    padding-right: 1rem;
}

/* Footer */

footer .container-small span{
    color: #c9c7e4;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding-top: 5rem;
    margin-bottom: 1.3rem;
    display: block;
}

footer .container-small h2{
    font-size: 2.5rem;
    margin-top: 1.7rem;
    margin-bottom: 1.6rem;
}

footer .container-small h3{
    font-size: 4.8rem;
    margin-bottom: 2.5rem;
    color: #FDC15F;
}

footer .container-small {
    font-size: 1.3rem;
}

footer ul {
    font-size: 1.1rem;
    padding: 2.3rem 0 5rem 0;
    justify-content: center;
}

footer a{
    color: white;
}

section.bg-black{
    padding: 3rem 0;
    
}

footer section.bg-black span{
    font-size: 1.11rem;
    letter-spacing: 1px;
    padding-top: 3rem;
    color: #F5F4FC;
    display: inline;
}

footer section.bg-black a{
    font-size: 1.11rem;
    letter-spacing: 1px;
    color: #7672A9;
    font-weight: bold;
}

.content-black{
    margin-bottom: 4rem;
    padding: 0 3rem;
}




/* Responsive > 576px */
@media screen and (min-width:576px){

    /* MAIN */
    /* Section Demo Application */
    .container-big{
        width: 100%;
        margin: 0 auto;
    }

    .container-2x1{
        display: flex;
        width: calc(100% + 1rem);
    }

    article.card{
        margin-bottom: 2rem;
        margin-right: 1rem;
        background-color: #B4DDFF;
    }

    .container-3x1 article.container-card{
        display: flex;
        align-items: center;
        width: calc(100%);
    }

    
    article.card-70{
        width: calc(66.6666667%);
    }

    article.card-30 {
        width: calc(33.333333%);
    }

    section.demo-application{
        margin-bottom: 3.5rem;
    }
    
    .container-card{
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        padding: 2.5rem;
    }

    
    section.demo-application h1{
        color: #0084FD;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    
    section.demo-application p{
        line-height: 1.7rem;
        font-size: .9rem;
        font-weight: bold;
        color: black;
    }
    
    .button-blue{
        background-color:#0084FD;
        border: none;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 2px;
        width: 85%;
   
    }
        
    section.demo-application img{
        position: relative;
        top: 3.6rem;
        width: 100%;
    }
    
    .container-3x1{
        width: calc(100% + 1rem);
        display: flex;
    }

    .container-3x1 .container-card{
        width: calc(100% / 3);
    }

    /* Section Strategic Planning */

    /* Section Testimonials */
    article.card-violet{
        color: white;
        flex-direction: row;
        padding: 1.7rem 0 2rem 0;
    }

    div.testimonial{
        margin-left: 1rem;
        width: 215px;
        height: 215px;
    }

    div.info-testimonial{
        width: 60%;
        text-align: left;
        padding: 0 0 0 1rem;
    }

    article.card-violet p {
        font-size: 1.2rem;
        line-height: 2rem;
        margin: 2rem 0rem 1rem 1rem
    }

    article.card-violet span {
        font-size: 1.2rem;
        line-height: 2rem;
        margin: 2rem 0rem 1rem 1rem
    }


    /* Section Benefict */

    section.beneficts div.content {
        display: flex;
        flex-wrap: wrap;
    }

    section.beneficts article.card-white{
        width: calc((100% / 2) - 2rem);
        margin: 1rem;
    }

    .button-violet {
        width: 70%;
        padding: .6rem;
    }

    section.beneficts h2 {
        font-size: 2.8rem;
        text-align: center;
        padding-top: 4rem;
        margin-bottom: 3rem;
    }

/* SECTION ABOUT US */

    section.about-us div{
        display: flex;
        flex-direction: row;
    }
    
    article.about-us-card1{
        width: 60%;
        margin-right: 2rem;
    }

    article.about-us-card2{
        width: 40%;
        margin-top: 5rem;
    }

    section.about-us p {
        font-weight: 500;
        font-size: 1.12rem;
        line-height: 2.2rem;
    }

    section.about-us p.color-violet {
        line-height: 2.2rem;
        font-size: 1.9rem;

    }


/* Responsive > 1200px */
@media screen and (min-width:768px){
   
    .container-big{
        max-width: 1200px;
        margin: 0 auto;
    }

    div.siderbar{
        display: block;

    }

    div.siderbar li{
        padding-right: 2rem;
        height: 100%;
        vertical-align: center;
    }

    ul{
        align-items: center;

    }

    div.siderbar button{
        border-radius: 2rem;
        padding: .5rem 1rem;
        border: none;
        cursor: pointer;

    }

    div.little-menu{
        display: none;
    }





    /* SECTION DEMO-APPLICATION */

    article.card-70{
        width: calc(66.6666667%);
        display: flex;
        flex-direction: row;
    }



    section.demo-application img{
        position: relative;
        top: 2.8rem;
        width: 100%;
    }


    section.beneficts article.card-white{
        width: calc(100% / 3);
    }


/* SECTION TESTIMONIAL */
section.testimonials div.testimonial {
    width: 50%;
}

}
    
